.App {
  text-align: center;
}
.signup-links:hover{
            border: rgb(36,82,122) 1px solid;
            color: rgb(36, 82, 122);
            background-color: rgb(93,172,189);
        }
.login_box{
  display: flex; justify-content: space-evenly; width: 17%; position: absolute; top: 3%; right: 4%;
}

.App{
  overflow:hidden;
}
body, div, html{
  -ms-overflow-style: none;
            scrollbar-width: none; 
}
div::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar {
  display: none;
}
.upperhalf, .lowerhalf{
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100vw;
}
.upperhalf{
  margin-top: 4%;
}
.lowerhalf{
  margin-top: 5%;
}
.compartments{
  border: 1px solid black;
  width: 32.5%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.compartments div{
  width: 60%;
  font-size: 1.75rem;
}
.image2{
  height: 72%; width: 35%; mix-blend-mode: color-burn;
}
#login_form input{
  background-color: rgb(93,172,189);
  color: rgb(36,82,122);
}
#login_form{
  width: 40%;
}
.profile1, .profile2{
  border: 1px solid rgb(93,172,189);
  position: relative;
  top: 2%;
  border-radius: 25px;
}
.profile1{
  width: 27.5%;
  height: 89%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profile2{
  width: 65%;
  height: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details{
  border: 1px solid rgb(93,172,189);
}
.photo{
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details{
  text-align: center;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.75rem;
}
.photoborder{
  height: 100%;
  width: 55%;
  border-radius: 50%;
}

.projects{
  height: 70%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(93,172,189);  
}
.tasks{
  height: 30%;
  border-top: 1px solid rgb(93,172,189);  
}
.data div{
  border: 1px solid rgb(93,172,189);  
}
.data{
  height: 40%;
  display: flex;
  justify-content: space-evenly;
}
.data div{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  color: rgb(93,172,189);
}
a:hover{
  text-decoration: none;
  color: rgb(93,172,189);
}
.see_all:hover{
  text-decoration: underline;
}
.list_all_projects{
  display: flex;
  height: 217%;
  width: 70%;
}
.cards_list{
  width:100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex-wrap: wrap;
  height: 13.5%;
  position: relative;
  border: 1px solid;
  left: 3%;
}
.card{
  width: 40%;
  margin-top: 2%;
  margin-left: 3%;
}
.create_new_project{
  position: relative;
  left: 3%;
  border: 1px solid;
  height:29.3%;
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}